{% extends 'base.html' %}
{% block title %}About us {% endblock %}
{% block content %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/static/images/cup1.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <h1 class="mb-2 bread">About Us</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i
                class="ion-ios-arrow-forward"></i></a></span> <span>About us <i
              class="ion-ios-arrow-forward"></i></span>
            </p>
      </div>
    </div>
  </div>
</section>
<br>
<br>
<section class="services-area section-gap">
 <center>
  <div class="container">
          <div class="row d-flex justify-content-center">
              <div class="menu-content  col-lg-7">
                  <div class="title text-center">
                      <h1 class="mb-10">Our Offered Services</h1>
                  </div>
              </div>
              <br>
          </div>
          <br><br>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <span class="lnr lnr-pie-chart"></span>
          <a href="#"><h4>For Childrens</h4></a>
          <p>
              Stream & Subject Selection
              <br>
              Discover your perfect stream and subject combinations through a comprehensive assesments of your strengths and explore the right career opportunity aligned to your stream choice.
           </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <span class="lnr lnr-laptop-phone"></span>
          <a href="#"><h4>College Students</h4></a>
          <p>
             Selection & Planning
             <br>
             Discover your Perfect Career based on your Unique strengths & abilities, and get expert Career Counselling on your targeted career option to plan your course and college.
             <br>
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <span class="lnr lnr-camera"></span>
          <a href="#"><h4>Career Activities</h4></a>
          <p>
             Best Match for suitablity
             <br>
             Evaluate and ascertain your suitability for suggested stream/careers with Interactive activities. Zero-in on your perfect by matching specific  insights about your daily schedule, Work style, and more, with your best-fit matches.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <span class="lnr lnr-picture"></span>
          <a href="#"><h4>Psychometric Testing and Employment</h4></a>
          <p>
          For employers, psychometric testing could help to gauge the future performance of a candidate and hopefully improve employee retention by making successful hiring decisions.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <span class="lnr lnr-tablet"></span>
          <a href="#"><h4>Career Guidance</h4></a>
          <p>
          Individuals to help them acquire the knowledge, information, skills, and experience necessary to identify career options. Results in their social, financial and emotional well-being throughout.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-services">
          <span class="lnr lnr-rocket"></span>
          <a href="#"><h4>Job and Career</h4></a>
          <p>
            Discover your next Career Move, accurately matched to your skills, interests and career goals through our comprehensive 5-Dimensional assesments and specialized career counselling.
          </p>
        </div>
      </div>
    </div>
  </div>
  </center>
</section>

<section class="ftco-section ftco-no-pt ftc-no-pb">
  <div class="container">
    <div class="row d-flex">
      <div class="col-md-5 order-md-last wrap-about wrap-about d-flex align-items-stretch">
        <div class="img" style="background-image: url('/static/images/about.jpg'); border"></div>
      </div>
      <div class="col-md-7 wrap-about py-5 pr-md-4 ftco-animate">
        <h2 class="mb-4">“Choose a job you love, and you will never have to work a day in your life." </h2>
        <p>When we’re young and we need a job, we’re willing to take any job. That’s a mistake. We are wasting our time
          working just for the money and we’re not getting any valuable experience in return. This investment, or lack
          thereof, results not only in a waste of time but with a waste of nerves and patience as well.</p>
        <p>Don’t like your job? You thought it would be temporary, but you ended up spending years in the same office?
          Here’s a drastic solution: quit! There’s no progress without risks. If you really have to work just for the
          money and you’re not ready to quit just yet, then try to learn as much as possible while you’re there.</p>
      </div>
    </div>
  </div>
</section>


		<section class="ftco-section bg-light">
			<div class="container-fluid px-4">
				<div class="row justify-content-center mb-5 pb-2">
          <div class="col-md-8 text-center heading-section ftco-animate">
            <h2 class="mb-4">Trusted Mentors</h2>
          </div>
        </div>
				<div class="row">
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(/static/images/arup.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Dr. Arup Acharya</h3>
								<span class="position mb-2">Associate Professor School of Computer Engg, Program Head (Information Technology), KIIT UNIVERSITY</span>
								<div class="faded">
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="https://twitter.com/arup_kiit"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="https://www.facebook.com/arupacharya.kiit"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="https://scholar.google.co.in/citations?user=ocM4ZaMAAAAJ&hl=en"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(/static/images/chitt.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Dr. Chitranjan Pradhan</h3>
								<span class="position mb-2">Associate Professor School of Computer Engg, KIIT UNIVERSITY</span>
								<div class="faded">
									<p>     </p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="https://twitter.com/chitaprakash?lang=en"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="https://www.facebook.com/chittaranjan.pradhan.96"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="https://scholar.google.co.in/citations?user=PAyEzaMAAAAJ&hl=en"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="https://www.instagram.com/chitaprakash/"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(/static/images/bhuyan.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Dr.Prachet Bhuyan</h3>
								<span class="position mb-2">Associate Professor School of Computer Engg. & Associate Dean (T&P), KIIT UNIVERSITY </span>
								<div class="faded">
									<p>   </p>
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="https://twitter.com/dr_prachet?lang=en"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="https://www.facebook.com/PrachetBhuyan"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="https://scholar.google.co.in/citations?user=OWsAbWAAAAAJ&hl=en"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="https://www.instagram.com/prachetbhuyan/"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 ftco-animate">
						<div class="staff">
							<div class="img-wrap d-flex align-items-stretch">
								<div class="img align-self-stretch" style="background-image: url(/static/images/abhishek_sir.jpg);"></div>
							</div>
							<div class="text pt-3 text-center">
								<h3>Abhishek Ray</h3>
								<span class="position mb-2">Associate Professor School of Computer Engg. & Associate Dean (T&P), KIIT UNIVERSITY</span>
								<div class="faded">
									<ul class="ftco-social text-center">
		                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-google-plus"></span></a></li>
		                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
		              </ul>
	              </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



<section class="ftco-section testimony-section">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-2">
    <div class="col-md-8 text-center heading-section ftco-animate">
      <h2 class="mb-4">Our Team</h2>
    </div>
    </div>
    <div class="row ftco-animate justify-content-center">
    <div class="col-md-12">
      <div class="carousel-testimony owl-carousel">
      <div class="item">
        <div class="testimony-wrap d-flex">
        <div class="user-img mr-4" style="background-image: url(/static/images/oum.jpg);">
        </div>
        <div class="text ml-2">
          <span class="quote d-flex align-items-center justify-content-center">
          <i class="icon-quote-left"></i>
          </span>
          <p></p>
          <p class="name">Oum Kale</p>
          <span class="position">Software Developer/Innovator</span>
        </div>
        </div>
      </div>

      <div class="item">
        <div class="testimony-wrap d-flex">
        <div class="user-img mr-4" style="background-image: url(/static/images/praj.jpg)">
        </div>
        <div class="text ml-2">
          <span class="quote d-flex align-items-center justify-content-center">
          <i class="icon-quote-left"></i>
          </span>
          <p class="name">Prajjawal Kumar</p>
          <span class="position">Backend Developer/Researcher</span>
        </div>
        </div>
      </div>
      <div class="item">
        <div class="testimony-wrap d-flex">
        <div class="user-img mr-4" style="background-image: url(/static/images/vj.jpg)">
        </div>
        <div class="text ml-2">
          <span class="quote d-flex align-items-center justify-content-center">
          <i class="icon-quote-left"></i>
          </span>
          <p class="name">Vijay Kumar</p>
          <span class="position">Web Designer/Strategist</span>
        </div>
        </div>
      </div>
      <div class="item">
        <div class="testimony-wrap d-flex">
        <div class="user-img mr-4" style="background-image: url(/static/images/ava.jpg)">
        </div>
        <div class="text ml-2">
          <span class="quote d-flex align-items-center justify-content-center">
          <i class="icon-quote-left"></i>
          </span>
          <p class="name">Aakash Srivastava</p>
          <span class="position">Backend Developer</span>
        </div>
        </div>
      </div>
      </div>
    </div>
    </div>
  </div>
  </section>
<section class="ftco-gallery">
  <div class="container-wrap">
    <div class="row no-gutters">
      <div class="col-md-3 ftco-animate">
        <a href="images/image_1.jpg" class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(/static/images/course-1.jpg);">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="images/image_2.jpg" class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(/static/images/image_2.jpg);">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="images/image_3.jpg" class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(/static/images/image_3.jpg);">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
      <div class="col-md-3 ftco-animate">
        <a href="images/image_4.jpg" class="gallery image-popup img d-flex align-items-center"
          style="background-image: url(/static/images/image_4.jpg);">
          <div class="icon mb-4 d-flex align-items-center justify-content-center">
            <span class="icon-instagram"></span>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
