{% extends 'base.html' %}

{% block title %}Jobs {% endblock %}
{% block content %}
<section class="services-area section-gap">
  <div class="container">
          <div class="row d-flex justify-content-center">
              <div class="menu-content  col-lg-12">
                <body>
                  <br>

                <center>

                <h2>List of Research Internships/Research Labs</h2>

                <br>
                <table>
                <thead>
                <tr>
                <th style="text-align:left"><strong>College</strong></th>
                <th style="text-align:left"><strong>Portal Link</strong></th>
                <th style="text-align:left"><strong>Areas Offered</strong></th>
                <th style="text-align:left"><strong>Application Deadline</strong></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td style="text-align:left"><a href="http://www.barc.gov.in/">BARC</a></td>
                <td style="text-align:left"><a href="http://barc.gov.in/student/student_sp.html">here</a> , <a href="https://www.barconlineexam.in/science/info-training-schemes.html">here</a></td>
                <td style="text-align:left">Nuclear Science, Engineering and Technology</td>
                <td style="text-align:left">All year round - send application 3 months before desired date of start of project</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.bhu.ac.in/">BHU, Varanashu</a></td>
                <td style="text-align:left">via Email</td>
                <td style="text-align:left">Sciences</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.bits-pilani.ac.in/Pilani/">BITS Pilani, Pilani Camnpus</a></td>
                <td style="text-align:left">via Email</td>
                <td style="text-align:left">Engineering</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://christuniversity.in/">Christ University</a></td>
                <td style="text-align:left">via Email</td>
                <td style="text-align:left">Sciences, Engineering</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.cmi.ac.in/">CMI</a></td>
                <td style="text-align:left"><a href="https://www.cmi.ac.in/admissions/internships.php">here</a></td>
                <td style="text-align:left">Mathematics and Computer Science</td>
                <td style="text-align:left">January 31, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://cbri.res.in/">CSIR - CBRI</a></td>
                <td style="text-align:left"><a href="http://cbri.res.in/training/index.php">here</a></td>
                <td style="text-align:left">Civil engineering</td>
                <td style="text-align:left">?</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.ccmb.res.in/">CSIR - CCMB</a></td>
                <td style="text-align:left"><a href="https://www.ccmb.res.in/index.php?view=training&amp;mid=0&amp;id=73&amp;nid=292">here</a></td>
                <td style="text-align:left">Biology</td>
                <td style="text-align:left">January 31, 2020 (institute should recieve hard copy)</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.ceeri.res.in/">CSIR - CEERI</a></td>
                <td style="text-align:left">2019: <a href="https://www.ceeri.res.in/training-program/">here</a></td>
                <td style="text-align:left">Electronics</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.csir.res.in/csir-labs">CSIR - combined portal for 38+ labs</a></td>
                <td style="text-align:left"><a href="http://acsir.res.in/acsir-dr-apj-abdul-kalam-summer-training-program/">here</a></td>
                <td style="text-align:left">Various sciences and others also</td>
                <td style="text-align:left">December 31, 2019</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.csmcri.org/">CSIR - CSMCRI</a></td>
                <td style="text-align:left"><a href="http://web.csmcri.res.in/internship-training-program">here</a></td>
                <td style="text-align:left">Marine technology, chemical engineering, chemistry</td>
                <td style="text-align:left">All year round</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.igib.res.in/">CSIR - IGIB</a></td>
                <td style="text-align:left"><a href="https://www.igib.res.in/?q=node/134">here</a></td>
                <td style="text-align:left">Biology, computational biology</td>
                <td style="text-align:left">All year round</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://iitrindia.org/En/Index.aspx">CSIR - IITR</a></td>
                <td style="text-align:left"><a href="http://iitrindia.org/En/NewsDetails.aspx?Id=161">here</a></td>
                <td style="text-align:left">Toxicology, environmental toxicology, health toxicology</td>
                <td style="text-align:left">?</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.imtech.res.in/">CSIR - IMTech</a></td>
                <td style="text-align:left"><a href="https://www.imtech.res.in/students-corner/internship">here</a></td>
                <td style="text-align:left">Microbiology</td>
                <td style="text-align:left">Closed</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.ncl-india.org/">CSIR - NCL</a></td>
                <td style="text-align:left"><a href="http://academic.ncl.res.in/summer_training">here</a> , <a href="https://www.ncl-india.org/files/AcademicProgramme/ProjectTraining.aspx">here</a></td>
                <td style="text-align:left">Chemistry, chemical engineering</td>
                <td style="text-align:left">All year round</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.daiict.ac.in/">DA-IICT</a></td>
                <td style="text-align:left">via Email</td>
                <td style="text-align:left">CSE/IT/ECE</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.drdo.gov.in/drdo/English/index.jsp?pg=alphabatic.jsp">DRDO</a></td>
                <td style="text-align:left">via Email</td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://dtu.ac.in/">DTU</a></td>
                <td style="text-align:left"><a href="http://dtu.ac.in/Web/notice/2019/june/file0610.pdf">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">?</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.hri.res.in/">HRI, Allahabad</a></td>
                <td style="text-align:left"><a href="http://www.hri.res.in/academics/physics/phy-vsp/">here</a></td>
                <td style="text-align:left">Physics</td>
                <td style="text-align:left">February 28/29, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.ias.ac.in/">IAS Portal (IITs, etc)</a></td>
                <td style="text-align:left"><a href="https://web-japps.ias.ac.in:8443/fellowship2020/">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">Closed</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.iucaa.in/">ICUAA, Pune University</a></td>
                <td style="text-align:left"><a href="http://www.iucaa.in/Student-ProgrammesMain.html">here</a></td>
                <td style="text-align:left">Physics</td>
                <td style="text-align:left">December 21, 2019</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iiap.res.in/">IIAP, Bangalore</a></td>
                <td style="text-align:left"><a href="https://www.iiap.res.in/?q=degree">here</a></td>
                <td style="text-align:left"></td>
                <td style="text-align:left">January, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iiests.ac.in/">IIEST Shibpur</a></td>
                <td style="text-align:left">via Email</td>
                <td style="text-align:left">Engineering</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iiita.ac.in/">IIIT Allahabad</a></td>
                <td style="text-align:left">2019: <a href="https://www.iiita.ac.in/downloads/announcements/uploads/INTERNSHIP%20PROGRAM1392.pdf">here</a></td>
                <td style="text-align:left">IT</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iiitb.ac.in/">IIIT Bangalore</a></td>
                <td style="text-align:left"><a href="https://www.iiitb.ac.in/summer-internship">here</a></td>
                <td style="text-align:left">CSE/IT/ECE</td>
                <td style="text-align:left">April</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iiitd.ac.in/">IIIT Delhi</a></td>
                <td style="text-align:left"><a href="https://www.iiitd.ac.in/placement/summer-internships">here</a></td>
                <td style="text-align:left">CSE/IT/ECE, HSS, Design, Math</td>
                <td style="text-align:left">March 31, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iiit.ac.in/">IIIT Hyderabad</a></td>
                <td style="text-align:left"><a href="https://ltrc.iiit.ac.in/nlpmt/internship_form.php">here</a> , <a href="https://serc.iiit.ac.in/srip/">here</a></td>
                <td style="text-align:left">CSE/IT/ECE</td>
                <td style="text-align:left">All year round</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iisc.ac.in/">IISc Bangalore</a></td>
                <td style="text-align:left"><a href="http://www.cense.iisc.ac.in/content/summer-program">here</a></td>
                <td style="text-align:left">Engineering, Sciences</td>
                <td style="text-align:left">February 29, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iiserb.ac.in/">IISER Bhopal</a></td>
                <td style="text-align:left">2019: <a href="https://www.iiserb.ac.in/assets/off_academic_affairs/forms_and_formats/IISER-Bhopal-Summer-Internship-Program-2019.pdf">here</a></td>
                <td style="text-align:left">CS, Sciences</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iiserkol.ac.in/">IISER Kolkata</a></td>
                <td style="text-align:left">2019: <a href="https://www.iiserkol.ac.in/~summer.research/">here</a></td>
                <td style="text-align:left">Sciences</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iisermohali.ac.in/">IISER Mohali</a></td>
                <td style="text-align:left">2019: <a href="https://www.iisermohali.ac.in/home/news/instructions-for-summer-research-program-2019">here</a></td>
                <td style="text-align:left">Sciences</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iiserpune.ac.in/">IISER Pune</a></td>
                <td style="text-align:left"><a href="https://www.iiserpune.ac.in/~sspc/">here</a></td>
                <td style="text-align:left">Sciences</td>
                <td style="text-align:left">February 28, 2020 (approx)</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://iisertvm.ac.in/">IISER Trivandrum</a></td>
                <td style="text-align:left">2019: <a href="http://www.iisertvm.ac.in/pages/svp">here</a></td>
                <td style="text-align:left">Sciences</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iist.ac.in/">IIST Trivandrum / ISRO</a></td>
                <td style="text-align:left"><a href="https://www.iist.ac.in/career/4">here</a> , 2019: <a href="https://admission.iist.ac.in//sinternship2019/">here</a></td>
                <td style="text-align:left">Space related</td>
                <td style="text-align:left">March/April, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iitbbs.ac.in/">IIT Bhubhaneshwar</a></td>
                <td style="text-align:left">2019: <a href="http://webapps.iitbbs.ac.in/internship-application/index.php">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://iitbhu.ac.in/">IIT-BHU Varanasi</a></td>
                <td style="text-align:left">via Email</td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.iitb.ac.in/">IIT Bombay</a></td>
                <td style="text-align:left"><a href="https://www.ircc.iitb.ac.in/fellowship/">here</a> , 2019: <a href="https://www.it.iitb.ac.in/summerinternship2019/">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">Septmber 9, 2019 (Winter internship)</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.iitd.ac.in/">IIT Delhi</a></td>
                <td style="text-align:left">via Email , <a href="http://design.iitd.ac.in/programs-internships.html">here</a></td>
                <td style="text-align:left">Design, Engineering, Sciences</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.iitgn.ac.in/">IIT Gandhinagar</a></td>
                <td style="text-align:left"><a href="https://sites.iitgn.ac.in/srip/">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">March 6, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.iitg.ac.in/">IIT Guwahati</a></td>
                <td style="text-align:left">2019: <a href="https://www.iitg.ac.in/cse/summerinternship/">here</a> , <a href="https://www.iitg.ac.in/maths/ext/internship/">here</a> , <a href="https://www.iitg.ac.in/mech/summer_intern.php">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iith.ac.in/">IIT Hyderabad</a></td>
                <td style="text-align:left">2019: <a href="https://cse.iith.ac.in/admissions/internships.html">here</a> , <a href="https://ee.iith.ac.in/intern.html">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iiti.ac.in/">IIT Indore</a></td>
                <td style="text-align:left"><a href="http://people.iiti.ac.in/~sdhina/index.php/opportunities1/internshippositions">here</a></td>
                <td style="text-align:left">Mechinical, bio</td>
                <td style="text-align:left">All year round</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iitism.ac.in/">IIT (ISM) Dhanbad</a></td>
                <td style="text-align:left">2019: <a href="https://www.iitism.ac.in/deans/rnd/assets/files/SRIP1.pdf">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.iitj.ac.in/">IIT Jodhpur</a></td>
                <td style="text-align:left"><a href="http://iitj.ac.in/institute/index.php?id=undergraduate_research_initiative">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">April 5, 2019</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://iitk.ac.in/">IIT Kanpur</a></td>
                <td style="text-align:left"><a href="http://surge.iitk.ac.in/">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">February 15, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.iitkgp.ac.in/">IIT Kharagpur</a></td>
                <td style="text-align:left"><a href="https://cse.iitkgp.ac.in/?summerinterns.html">here</a></td>
                <td style="text-align:left">CSE</td>
                <td style="text-align:left">March 31, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iitm.ac.in/">IIT Madras</a></td>
                <td style="text-align:left"><a href="https://sfp.iitm.ac.in/">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">February 29, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.iitmandi.ac.in/">IIT Mandi</a></td>
                <td style="text-align:left"><a href="http://www.iitmandi.ac.in/academics/internship.php">here</a></td>
                <td style="text-align:left">Engineering, Sciences</td>
                <td style="text-align:left">April 30, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iitp.ac.in/">IIT Patna</a></td>
                <td style="text-align:left"><a href="https://www.iitp.ac.in/ir/?page_id=238">here</a></td>
                <td style="text-align:left">Engineering?</td>
                <td style="text-align:left"></td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.iitr.ac.in/">IIT Roorkee</a></td>
                <td style="text-align:left"><a href="http://spark.iitr.ac.in/">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">February 29, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.iitrpr.ac.in/">IIT Ropar</a></td>
                <td style="text-align:left">2019: <a href="http://www.iitrpr.ac.in/summer-internship-programme-2019">here</a></td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.imsc.res.in/">IMSc</a></td>
                <td style="text-align:left"><a href="https://www.imsc.res.in/summer/">here</a> , 2019: <a href="https://www.imsc.res.in/summer_research_programme">here</a></td>
                <td style="text-align:left">Theoretical Physics, Mathematics, Theoretical Computer Science and Computational Biology</td>
                <td style="text-align:left">February 28, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.isibang.ac.in/">ISI Bangalore</a></td>
                <td style="text-align:left">via Email</td>
                <td style="text-align:left">Statistics, Economics</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.isical.ac.in/">ISI Kolkata</a></td>
                <td style="text-align:left">2019: <a href="https://www.isical.ac.in/~rcbose/internship/">here</a></td>
                <td style="text-align:left">Crypto</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://isro.gov.in/">ISRO - all centres</a></td>
                <td style="text-align:left"><a href="https://www.isro.gov.in/research-and-academia-interface/internships-projects-training">here</a></td>
                <td style="text-align:left">Electronics, avionics, mechanical engineering, aerospace engineering, solid state, physics, astronomy</td>
                <td style="text-align:left">Various dates for various centres</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.jaduniv.edu.in/">Jadavpur Uni</a></td>
                <td style="text-align:left">via Email</td>
                <td style="text-align:left">Engineering, sciences</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.jncasr.ac.in/">JNCASR</a></td>
                <td style="text-align:left"><a href="http://www.jncasr.ac.in/fe/srfp.php">here</a></td>
                <td style="text-align:left">Sciences</td>
                <td style="text-align:left">December 13, 2019</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.jnu.ac.in/main/">JNU</a></td>
                <td style="text-align:left">2019: <a href="https://jnu.ac.in/sls">here</a></td>
                <td style="text-align:left">Life ciences</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.lnmiit.ac.in/">LMNIT Jaipur</a></td>
                <td style="text-align:left">2019: <a href="https://lusip.lnmiit.ac.in/">here</a></td>
                <td style="text-align:left">Engineering</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.niser.ac.in/">NISER</a></td>
                <td style="text-align:left">2019: <a href="https://www.niser.ac.in/sms/page/summer-project-programme-2019">here</a> , <a href="https://www.niser.ac.in/sps/scholarship/summer-project-programme-2019">here</a></td>
                <td style="text-align:left">Sciences</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.nitk.ac.in/">NITK Surathkal</a></td>
                <td style="text-align:left">2019: <a href="https://www.nitk.ac.in/summer">here</a></td>
                <td style="text-align:left">Engineering</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.nitt.edu/">NIT Trichy</a></td>
                <td style="text-align:left">2019: <a href="https://www.nitt.edu/home/Summer-Internship-2019.pdf">here</a></td>
                <td style="text-align:left">Engineering</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.nitw.ac.in/">NIT Warangal</a></td>
                <td style="text-align:left">via Email</td>
                <td style="text-align:left">Engineering</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.nsit.ac.in/">NSUT/NSIT</a></td>
                <td style="text-align:left">via Email</td>
                <td style="text-align:left">Engineering</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.pondiuni.edu.in/">Pondicherry University</a></td>
                <td style="text-align:left">2019: <a href="http://www.pondiuni.edu.in/news/nabard-summer-internship-scheme-2019-20">here</a></td>
                <td style="text-align:left">Agriculture and Rural Development</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.rri.res.in/">Raman Research Institute</a></td>
                <td style="text-align:left"><a href="http://www.rri.res.in/visitingstudents.html">here</a></td>
                <td style="text-align:left">Sciences</td>
                <td style="text-align:left">All year round</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.rrcat.gov.in/">RRCAT, Indore</a></td>
                <td style="text-align:left">2019: <a href="http://www.rrcat.gov.in/hrd/advt/ysrp.html#">here</a></td>
                <td style="text-align:left">Non-nuclear energy</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.saha.ac.in/web/">Saha Institute of Nuclear Physics (SINP), Kolkata</a></td>
                <td style="text-align:left"><a href="http://www.saha.ac.in/web/summer-home">here</a> ,  <a href="http://www.saha.ac.in/web/index.php/summer-program">here</a></td>
                <td style="text-align:left">Physical, nuclear, biological sciences</td>
                <td style="text-align:left">February 15, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.tnasc.com/">THASC, Chennai</a></td>
                <td style="text-align:left">2019: <a href="http://www.tnasc.com/summer-training-program-3/">here</a></td>
                <td style="text-align:left">Sciences</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.math.tifrbng.res.in/">TIFR - Centre for Applicable Mathematics, Bangalore</a></td>
                <td style="text-align:left">2019: <a href="https://www.math.tifrbng.res.in/academic/internships">here</a></td>
                <td style="text-align:left">Sciences</td>
                <td style="text-align:left">2020 portal not released</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.tifrh.res.in/">TIFR - Hyderabad</a></td>
                <td style="text-align:left"><a href="https://www.tifrh.res.in/index.php/visiting-students-programme/">here</a></td>
                <td style="text-align:left">Sciences</td>
                <td style="text-align:left">Same as TIFR-VSRP</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.tifr.res.in/">TIFR - ICTS, Bangalore</a></td>
                <td style="text-align:left"><a href="https://www.icts.res.in/academic/summer-research-program">here</a></td>
                <td style="text-align:left">Theoretical sciences</td>
                <td style="text-align:left">January 25, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.ncbs.res.in/">TIFR - NCBS (National Centre for Biological Sciences), Bangalore</a></td>
                <td style="text-align:left">via Email, <a href="http://archives.ncbs.res.in/internships">here</a></td>
                <td style="text-align:left">Biology, Biotechnology</td>
                <td style="text-align:left">-</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="http://www.ncra.tifr.res.in/">TIFR - NCRA (National Centre for Radio Astrophysics)</a></td>
                <td style="text-align:left"><a href="http://www.ncra.tifr.res.in//ncra/students/external-students/students-programme">here</a> , <a href="http://www.ncra.tifr.res.in/ncra/students">here</a> , <a href="http://wm.gmrt.ncra.tifr.res.in/stp/">here</a></td>
                <td style="text-align:left">Astrophysics, physics, astronomy, engineering</td>
                <td style="text-align:left">?</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.tifr.res.in/">TIFR - VSRP, Mumbai</a></td>
                <td style="text-align:left"><a href="https://www.tifr.res.in/~vsrp/">here</a></td>
                <td style="text-align:left">CS, Sciences</td>
                <td style="text-align:left">January 31, 2020</td>
                </tr>
                <tr>
                <td style="text-align:left"><a href="https://www.uohyd.ac.in/">University of Hyderabad</a></td>
                <td style="text-align:left"><a href="http://chemistry.uohyd.ac.in/~nrc/summer-projects.html">here</a></td>
                <td style="text-align:left">Chemistry</td>
                <td style="text-align:left">March 15, 2020</td>
                </tr>
                </tbody>
                </table>
                <br><br>
                </center>
                <p>We have covered:</p>
                <ul>
                   <li>Govt research institutes and labs</li>
                   <li>Colleges and Universities</li>
                   <li>NOT private research companies/labs</li>
                </ul>
                   <br><br>

              </body>
              </div>
          </div>

    </div>
    </section>
    {% endblock %}
